{% extends "task_manager/base.html" %}
{% block title %}Cambiar contraseña{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-md-8 col-lg-6">
    <div class="card shadow-sm">
      <div class="card-body">
        <h4 class="mb-3">Cambiar contraseña</h4>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="btn btn-primary">Cambiar</button>
          <a href="{% url 'profile' %}" class="btn btn-link">Volver</a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
